@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PopupModal popup = ViewData["Popup"] as PopupModal;
}

@await Component.InvokeAsync("AramaPaneli")

@await Component.InvokeAsync("SliderVC")

@await Component.InvokeAsync("EnCokTiklananlar")

@await Component.InvokeAsync("indirimler")

@await Component.InvokeAsync("Sinavlar")

@await Component.InvokeAsync("Bloglar")

@await Component.InvokeAsync("OzelDersOgretmenler")

@if (popup != null)
{
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="@ByteToImage.DecodeImage(popup.Resim)" class="w-100 h-auto">
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{

    <script>
        var myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
        document.onreadystatechange = function () {
            myModal.show();
        };
    </script>
}