@model List<Kulup>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kurumId = HttpContextAccessor.HttpContext.Session.GetString("HomeKurumId");
}
<div class="row mb-2">
    <div class="col-sm-4">
        <a href="@Url.Action("KurumDetay","Home",new {id=int.Parse(kurumId)})" class="btn btn-warning text-dark mb-2"><strong> Kurum Detay Sayfası</strong></a>
    </div>
</div>
<div class="row mt-1">
    <!-- Right Sidebar -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mt-1">
                    @if (Model.Count > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <img class="card-img-top" src="@ByteToImage.DecodeImage(item.Resim)" style="max-height:200px; object-fit : scale-down">
                                </div>
                                <div class="col-sm-8">
                                    <p>@Html.Raw(item.Ad)</p>
                                    <p>@Html.Raw(item.Icerik)</p>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        <div class="body">
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                    <strong>Uyarı - </strong> Kulüp listesi boş.
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- end row-->
            </div>
            <!-- end inbox-rightbar-->
        </div>
        <!-- end card-body -->
        <div class="clearfix"></div>
    </div> <!-- end card-box -->

</div> <!-- end Col -->
