@using System.Net
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eğitim Dedektifi</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/UILayer.styles.css" asp-append-version="true" />*@


    <!-- third party css -->
    <link href="~/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
    <!-- third party css end -->
    <!-- App css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <!-- third party css end -->
    <link href="~/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/bootstrap-sweetalert/sweetalert.min.css" rel="stylesheet" />
    <link href="~/css/loader.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2N6BL2TTYL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2N6BL2TTYL');
    </script>
</head>
<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-warning">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/images/egitimdedektifi_logo_png-01.png" height="50" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><strong><i class="uil uil-home-alt"></i> Anasayfa</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="isBasvuru"><strong><i class="uil uil-user-check"></i> İş Başvuru</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-dark text-warning" asp-area="" asp-controller="Home" asp-action="UcretsizDanisman"><strong><i class="uil uil-users-alt"></i> Ücretsiz Eğitim Danışmanı</strong></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @*  @if (Context.Session.GetString("Uye") != null)
                        {
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong><i class="uil uil-user-check"></i> Profile</strong>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Favoriler"><strong>Favoriler</strong></a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="SifreIslem"><strong>Şifre İşlemleri</strong></a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Cikis"><strong>Çıkış Yap</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" asp-controller="Uye" asp-action="CikisYap">Çıkış Yap</a>
                        </div>
                        </li>
                        }
                        else
                        { *@
                        @*  <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="KayitOl"><strong><i class="uil uil-user-plus"></i> Kayıt Ol</strong></a>
                        </li> *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <strong><i class="uil uil-arrow-to-right"></i> Giriş İşlemleri</strong>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @* <a class="dropdown-item" asp-controller="Home" asp-action="UyeGiris"><strong>Üye Girişi</strong></a> *@
                                <a class="dropdown-item" asp-controller="Home" asp-action="KullaniciGiris"><strong>Kurum Girişi</strong></a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="YoneticiGiris"><strong>Yönetici Girişi</strong></a>
                                @*<div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" asp-controller="Uye" asp-action="CikisYap">Çıkış Yap</a>*@
                            </div>
                        </li>
                        @*  } *@
                        @* <li class="nav-item">
                        <a class="nav-link text-dark btn-warning" asp-area="" asp-controller="Home" asp-action="Iletisim"><strong><i class="uil uil-forwaded-call"></i> İletişim</strong></a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("LayoutFooter")

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script>*@



    <div id="loading">
        <img src="~/1496.gif" />
    </div>
    <!-- /End-bar -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/toastr.js/toastr.min.js"></script>
    <script src="~/bootstrap-sweetalert/sweetalert.min.js"></script>
    <!-- bundle -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>

    <!-- third party js ends -->
    <!-- end demo js-->
    <!-- third party js -->
    <script src="~/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/js/vendor/buttons.html5.min.js"></script>
    <script src="~/assets/js/vendor/buttons.flash.min.js"></script>
    <script src="~/assets/js/vendor/buttons.print.min.js"></script>

    <script src="~/assets/js/vendor/jquery.rateit.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(window).on('load',
            function () {
                $('#loading').hide();
            });
    </script>

</body>
</html>
