@model isBasvuruDisplayDto 
@{
    Layout = "~/Views/Shared/_KurumLayout.cshtml";
}

<div class="row mt-1">
    <div class="card text-center">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="text-xxl-start">
                        <a href="@Url.Action("IsBasvuru","Kurum")" class="btn btn-danger mb-2"> Geri Dön</a>
                    </div>
                </div><!-- end col-->
            </div>
            <h4 class="mb-0 mt-2">@Model.Ad</h4>
            </div>
        </div>
    </div>
</div>